<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SManufacturer" />
                <binding name="BasicHttpBinding_SHousing" />
                <binding name="BasicHttpBinding_SPowerSupply" />
                <binding name="BasicHttpBinding_SVideocard" />
                <binding name="BasicHttpBinding_SHarddrive" />
                <binding name="BasicHttpBinding_SDiskstorage" />
                <binding name="BasicHttpBinding_SProcessor" />
                <binding name="BasicHttpBinding_SRam" />
                <binding name="BasicHttpBinding_SMotherboard" />
                <binding name="BasicHttpBinding_SComputer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Manufacturer/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SManufacturer"
                contract="Manufacturer.SManufacturer" name="BasicHttpBinding_SManufacturer" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Housing/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SHousing"
                contract="Housing.SHousing" name="BasicHttpBinding_SHousing" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/PowerSupply/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SPowerSupply"
                contract="PowerSupply.SPowerSupply" name="BasicHttpBinding_SPowerSupply" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Videocard/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SVideocard"
                contract="Videocard.SVideocard" name="BasicHttpBinding_SVideocard" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Harddrive/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SHarddrive"
                contract="Harddrive.SHarddrive" name="BasicHttpBinding_SHarddrive" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Diskstorage/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SDiskstorage"
                contract="Diskstorage.SDiskstorage" name="BasicHttpBinding_SDiskstorage" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Processor/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SProcessor"
                contract="Processor.SProcessor" name="BasicHttpBinding_SProcessor" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Ram/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SRam"
                contract="Ram.SRam" name="BasicHttpBinding_SRam" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Motherboard/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SMotherboard"
                contract="Motherboard.SMotherboard" name="BasicHttpBinding_SMotherboard" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Computer/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SComputer"
                contract="Computer.SComputer" name="BasicHttpBinding_SComputer" />
        </client>
    </system.serviceModel>
</configuration>